* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    width: 100%;
}

.titulo-destaque{
    color: #22D4FD;
}

img{
    border-radius: 100px;
    border-style: dashed;
}

.apresentacao{
    display: flex;
    align-items: center;
}