* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    width: 100%;
}

.titulo-destaque{
    color: #22D4FD;
}

img{
    border-radius: 50px;
    border: 1px solid #22D4FD;
    max-width: 800px;
}

.apresentacao{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.apresentacao__links_subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links_link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 1px solid #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;

}

.apresentacao__links_link:hover{
    background-color: #272727;
}

.rodape{
    color: #000000;
    background-color: #22D4FD;
}